In [55]:
import pandas as pd
from sqlalchemy.orm import sessionmaker#,relationship, backref
from sqlalchemy import create_engine,select
from Schema import *

## pandasframe que contiene informacion inicial
engine = create_engine('mysql+pymysql://quantum_user:Qu4ntum_u$3r@localhost/securities_master_database')

In [56]:
## add data
def get_data(Table):
    '''Funcion que obtiene los datos de Tabla de la base de datos'''
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    sql = select([Table]).select_from(Table)
    result=s.execute(sql)
    df = pd.DataFrame(result.fetchall())
    df.columns = result.keys() 
    s.close()
    return df

In [57]:
instruments=get_data(Instrument)
instruments.head()

,id,instrument_type_id,industry_id,sector_id,data_vendor_id,name,type,description,refresh_at,newest_available_date,oldest_available_date,start_date,end_date,frequency
0,1,1,1,1,1,FRED/GDPPOT,datasets,Real Potential Gross Domestic Product,2017-08-08 23:15:14,2027-10-01,1949-01-01,1949-01-01,2027-10-01,quarterly
1,2,2,1,1,1,ML/EMCBI,datasets,Emerging Markets Corporate Bond Index OAS,2018-05-18 16:01:34,2018-05-17,1998-12-31,1998-12-31,2018-05-17,daily
2,3,2,1,1,1,ML/EMCTRI,datasets,Emerging Markets Corporate Bond Total Return I...,2018-05-18 16:01:35,2018-05-17,1998-12-31,1998-12-31,2018-05-17,daily
3,4,2,1,1,1,ML/EMHGY,datasets,Emerging Markets High Grade Corporate Bond Ind...,2018-05-18 16:01:35,2018-05-17,1998-12-31,1998-12-31,2018-05-17,daily
4,5,2,1,1,1,ML/EMHYY,datasets,Emerging Markets High Yield Corporate Bond Ind...,2018-05-18 16:01:35,2018-05-17,1998-12-31,1998-12-31,2018-05-17,daily

In [63]:
def get_price_ts(tick):
    '''Funcion que obtiene los precios de tick(nombre del instrumento)'''
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    sql = select([Time_series]).where(Time_series.ticker==tick).select_from(Time_series)
    result=s.execute(sql)
    df_ = pd.DataFrame(result.fetchall()).drop_duplicates()
    df_.columns = result.keys() 
    df1=df_[["instrument_id","ticker","date_"]].drop_duplicates().set_index("date_")
    df2=df_[["date_","category","value"]].drop_duplicates()
    df2=df2.groupby(["date_","category"]).first().reset_index()
    df2=df2.set_index("date_")
    df2=df2.pivot(columns="category")["value"]
    df=pd.merge(df1, df2, left_index=True, right_index=True)
    df.sort_index(inplace=True)
    s.close()
    return df

In [65]:
df=get_price_ts("SPY") #ML/EMCBI     SPY
df.head()

,instrument_id,ticker,Adj Close,Close,High,Low,Open,Volume
date_,,,,,,,,
2008-05-19,57,SPY,116.171,143.05,144.30,142.30,142.81,165664000.0
2008-05-20,57,SPY,115.229,141.89,142.34,141.00,142.27,178552000.0
2008-05-21,57,SPY,113.279,139.49,142.12,139.00,141.81,252725000.0
2008-05-22,57,SPY,113.296,139.51,140.17,139.00,139.43,170820000.0
2008-05-23,57,SPY,111.777,137.64,139.66,137.52,139.05,181376000.0

In [67]:
df.columns[2]

'Adj Close'