# NOTEBOOK QUE PRUEBA LA CONEXION A LA BASE DE DATOS, (EXTRAER TABLA Y TIME SERIES)

In [14]:
import pandas as pd
from sqlalchemy.orm import sessionmaker#,relationship, backref
from sqlalchemy import create_engine,select
from utils_modeling import *

## pandasframe que contiene informacion inicial
engine = create_engine('mysql+pymysql://quantum_user:Qu4ntum_u$3r@localhost/securities_master_database')

In [9]:
## add data
def get_data(Table):
    '''Funcion que obtiene los datos de Tabla de la base de datos'''
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    sql = select([Table]).select_from(Table)
    result=s.execute(sql)
    df = pd.DataFrame(result.fetchall())
    df.columns = result.keys() 
    s.close()
    return df

In [10]:
instruments=get_data(Instrument)
instruments.head()

,id,instrument_type_id,industry_id,sector_id,data_vendor_id,name,type,description,refresh_at,newest_available_date,oldest_available_date,start_date,end_date,frequency
0,1,1,1,1,1,FRED/GDPPOT,datasets,Real Potential Gross Domestic Product,2017-08-08 23:15:14,2027-10-01,1949-01-01,1949-01-01,2027-10-01,quarterly
1,2,2,1,1,1,ML/EMCBI,datasets,Emerging Markets Corporate Bond Index OAS,2018-07-02 16:00:54,2018-06-30,1998-12-31,1998-12-31,2018-06-30,daily
2,3,2,1,1,1,ML/EMCTRI,datasets,Emerging Markets Corporate Bond Total Return I...,2018-07-02 16:00:54,2018-06-30,1998-12-31,1998-12-31,2018-06-30,daily
3,4,2,1,1,1,ML/EMHGY,datasets,Emerging Markets High Grade Corporate Bond Ind...,2018-07-02 16:00:54,2018-06-30,1998-12-31,1998-12-31,2018-06-30,daily
4,5,2,1,1,1,ML/EMHYY,datasets,Emerging Markets High Yield Corporate Bond Ind...,2018-07-02 16:00:53,2018-06-30,1998-12-31,1998-12-31,2018-06-30,daily

In [18]:
def get_price_ts(tick):
    '''Funcion que obtiene los precios de tick(nombre del instrumento)'''
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    sql = select([Time_series]).where(Time_series.ticker==tick).select_from(Time_series)
    result=s.execute(sql)
    df_ = pd.DataFrame(result.fetchall()).drop_duplicates()
    df_.columns = result.keys() 
    df1=df_[["instrument_id","ticker","date_"]].drop_duplicates().set_index("date_")
    df2=df_[["date_","category","value"]].drop_duplicates()
    df2=df2.groupby(["date_","category"]).first().reset_index()
    df2=df2.set_index("date_")
    df2=df2.pivot(columns="category")["value"]
    df=pd.merge(df1, df2, left_index=True, right_index=True)
    df.sort_index(inplace=True)
    s.close()
    return df

In [19]:
df=get_price_ts("SPY") #ML/EMCBI     SPY
df.head()

,instrument_id,ticker,Adj Close,Close,High,Low,Open,Volume
date_,,,,,,,,
2008-05-27,57,SPY,112.605,138.66,139.00,137.53,137.80,168323000.0
2008-05-28,57,SPY,113.125,139.30,140.00,138.00,139.17,181288000.0
2008-05-29,57,SPY,113.694,140.00,140.93,139.08,139.13,173927000.0
2008-05-30,57,SPY,113.978,140.35,140.74,139.94,140.47,117362000.0
2008-06-02,57,SPY,112.800,138.90,139.86,138.00,139.83,181070000.0

In [13]:
df.tail()

,instrument_id,ticker,Adj Close,Close,High,Low,Open,Volume
date_,,,,,,,,
2018-06-26,57,SPY,271.58,271.58,272.560,270.79,271.64,63729600.0
2018-06-27,57,SPY,269.80,269.80,273.865,269.18,272.26,92914700.0
2018-06-28,57,SPY,270.91,270.91,271.750,268.49,269.29,71993400.0
2018-06-29,57,SPY,271.34,271.34,273.660,271.15,272.12,97592500.0
2018-07-02,57,SPY,271.84,271.84,272.040,269.24,269.51,55634500.0

In [6]:
df.columns[2]

'Adj Close'