In [2]:
import pandas as pd
from sqlalchemy.orm import sessionmaker#,relationship, backref
from sqlalchemy import create_engine,select
#from Schema import *
from utils_modeling import *

In [ ]:
def get_metric_ts(metrc,idx,instrument):
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    sql = select([Metrics]).where(and_(Metrics.instrument_id == instrument,
        Metrics.Metric == metrc,Metrics.equity_fundamental_id == idx)).select_from(Metrics)
    result=s.execute(sql)
    df_ = pd.DataFrame(result.fetchall()).drop_duplicates()
    df_.columns = result.keys()
    s.close()
    return df_

def get_metrics(instrument):
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    sql = select([Metrics]).where(Metrics.instrument_id == instrument).select_from(Metrics)
    result=s.execute(sql)
    df_ = pd.DataFrame(result.fetchall()).drop_duplicates()
    df_.columns = result.keys()
    s.close()
    return df_

In [ ]:
df1=get_metric_ts("Open",2,379)
df2=get_metric_ts("Market Cap",1,379)
df3=get_metric_ts("Day's Range",2,379)
df4=get_metric_ts("Avg. Volume",2,379)
df5=get_metric_ts("1y Target Est",1,379)
df6=get_metric_ts("Enterprise Value 3",2,379)

df7=get_metric_ts("Trailing P/E",2,379)
df8=get_metric_ts("Forward P/E 1",2,379)
df9=get_metric_ts("No. of Analysts",8,379)
df10=get_metric_ts("Avg. Estimate",8,379)
df11=get_metric_ts("Low Estimate",8,379)
df12=get_metric_ts("High Estimate",8,379)
df13=get_metric_ts("Year Ago EPS",8,379)

In [ ]:
df4

In [ ]:
result=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13])
result=result[(result.Period!="Next Qtr. (Sep 2018)")&(result.Period!="Current Year (2018)")&(result.Period!="Next Year (2019)")]
result=result.sort_values(["refreshed_at","Metric"])

instrument=get_data(Instrument)[["id","name"]]
equity=get_data(Equity_fundamentals)

result=pd.merge(result,instrument,left_on="instrument_id",right_on="id")
result=pd.merge(result,equity,left_on="equity_fundamental_id",right_on="id")
result=result.sort_values(["refreshed_at","Metric"])
result=result[["name","Category","Table","Metric","Period","Value","refreshed_at"]]
result.columns=["Ticker","Category","Section","Metric","Period","Value","Date"]
#result.set_index("Date")
#result["Date2"]=pd.to_datetime(result['Date'])#, format='%Y-%m-%d %H:%M:%S')
result=result.sort_values(["Date"])

In [ ]:
#result['Date']

In [ ]:
#result["DATE2"]= ts.dt.date
#result["DATE2"]=pd.to_datetime(result['Date'], format="%Y-%m-%d")
result["DATE2"]=result['Date'].dt.date.astype(str)

In [ ]:
result.head()

In [ ]:
result[result.DATE2=="2018-05-20"]

In [ ]:
result.DATE2.drop_duplicates().shape

In [ ]:
#result.groupby(['DATE2']).count()
result.groupby(['Metric']).count()

In [ ]:
result.to_csv("SBUX.csv")

In [ ]:
all_data=get_metrics(379)

In [ ]:
all_data.head()
instrument=get_data(Instrument)[["id","name"]]
equity=get_data(Equity_fundamentals)

result=pd.merge(all_data,instrument,left_on="instrument_id",right_on="id")
result=pd.merge(result,equity,left_on="equity_fundamental_id",right_on="id")
result=result.sort_values(["refreshed_at","Metric"])
result=result[["name","Category","Table","Metric","Period","Value","refreshed_at"]]
result.columns=["Ticker","Category","Section","Metric","Period","Value","Date"]
#result.set_index("Date")
#result["Date2"]=pd.to_datetime(result['Date'])#, format='%Y-%m-%d %H:%M:%S')
result=result.sort_values(["Date"])
result.head()

In [ ]:
result.to_csv("SBUX.csv")

#  TEST DOWNLOAD OPTIONS INFO FROM YAHOO

In [ ]:
import sys
sys.path.append('/home/ubuntu/quantum/Infrastructure')
#from download_historical_equity_fundamental import *
from Schema import *
from mvo_utils import *
sys.path.append('home/ubuntu/quantum/Modeling')

In [ ]:
def get_summary(name):
    try:
        name1=name.replace('WIKI/' ,'')
        summaryf=get_data_sf(pd.read_html('https://finance.yahoo.com/quote/'+name1+'/options?p='+name1))[1]
        summaryf.columns=["Metric","Value"]
        summaryf["Category"]="Summary";summaryf["Table"]="Summary"
        summaryf["Period"]=str(datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d'))
        summaryf["refreshed_at"]=datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S')
        summaryf["instrument_id"]=get_id_instrument(name)
        summaryf["data_vendor_id"]=get_id_data_vendor("Yahoo_Finance")
        summaryf["equity_fundamental_id"]=summaryf[["Category","Table"]].apply(lambda x :add_up_equityf(x["Category"],x["Table"]), axis=1)
        summaryf[["instrument_id","equity_fundamental_id","data_vendor_id","refreshed_at","Period","Metric","Value"]].to_csv(Path_stats+"summary_"+name1+".csv")
        return True
    except Exception as err:
        print("Error: {0}".format(err))
        print("No se existe summary para "+name)
        return err
        pass
    
# https://finance.yahoo.com/quote/SBUX/options?p=SBUX
def get_data_sf(data_request):
    count=0
    while True:
        try:
            count=count+1
            summary = data_request ; break
            if count==limit:
                break;
        except Exception as err:
            print("Error: {0}, waiting to try again in {1}".format(err, sleep_time))
            sleep(sleep_time)
            if count==limit:
                break;
    return summary

In [ ]:
name="SBUX"

name1=name.replace('WIKI/' ,'')
summaryf=get_data_sf(pd.read_html("https://www.marketwatch.com/investing/stock/SBUX/options?countrycode=US&showAll=True"))[0]

In [ ]:
summaryf.columns=["var0","var1","var2","var3","var4","var5","var6","var7","var8","var9","var10","var11","var12","var13","var14"]
summaryf=summaryf[summaryf.var0.notnull()]
summaryf.index=range(summaryf.shape[0])

In [ ]:
#summaryf['var0']
summaryf.shape[0]

In [ ]:
idx_subtable=summaryf[summaryf['var0'].str.contains('Expires')].index.tolist()
idx_subtable.append(summaryf.shape[0])
idx_subtable

In [ ]:
lista=[[idx_subtable[i],idx_subtable[i+1]]for i in range(len(idx_subtable)-1)]
lista

In [ ]:
df_final=pd.DataFrame()
for range_ in lista:
    idx_0=range_[0]
    idx_1=range_[1]
    aux=summaryf.loc[idx_0]["var0"].replace('Expires ', '').replace(',', '')
    datetime_object = datetime.strptime(aux,'%B %d %Y').date()
    df_aux=summaryf.loc[idx_0+1:idx_1]#[summaryf.var1.notnull()]
    df_aux=df_aux[df_aux.var1.notnull()]
    df1=df_aux[["var1","var2","var3","var4","var5","var6","var7"]]
    df1["type"]='Call'
    df1.columns=["last","change","volume","bid","ask","open_interest","strike","type"]

    df2=df_aux[["var9","var10","var11","var12","var13","var14","var7"]]
    df2.columns=["last","change","volume","bid","ask","open_interest","strike"]
    df2["type"]="Put"

    df_final_aux=df1.append(df2)
    df_final_aux["expiration"]=datetime_object
    df_final_aux["date_"]=datetime.today().strftime("%Y-%m-%d")
    df_final=df_final.append(df_final_aux)

In [ ]:
df_final

In [ ]:
#summaryf.loc[4:54].head()

In [ ]:
aux=summaryf.loc[3]["var0"].replace('Expires ', '').replace(',', '')
from datetime import datetime
print(aux)
datetime_object = datetime.strptime(aux,'%B %d %Y').date()
datetime_object

In [ ]:
#df_aux=summaryf.loc[5:54][summaryf.var1.notnull()]
df_aux=summaryf.loc[5:54]#[summaryf.var1.notnull()]
df_aux=df_aux[df_aux.var1.notnull()]
df1=df_aux[["var1","var2","var3","var4","var5","var6","var7"]]
df1["type"]='Call'
df1.columns=["last","change","volume","bid","ask","open_interest","strike","type"]

df2=df_aux[["var9","var10","var11","var12","var13","var14","var7"]]
df2.columns=["last","change","volume","bid","ask","open_interest","strike"]
df2["type"]="Put"

df_final=df1.append(df2)
df_final["expiration"]=datetime_object
df_final["date_"]=datetime.today().strftime("%Y-%m-%d")
df_final

In [ ]:
call.head()

In [ ]:
import json
from urllib.request import urlopen
from bs4 import BeautifulSoup as BS
import datetime
import pandas as pd

#url ="https://finance.yahoo.com/quote/SBUX/options?p=SBUX" #"https://www.barchart.com/stocks/quotes/SBUX/options"#
def get_list_dates(name):
    url = "https://query2.finance.yahoo.com/v7/finance/options/"+name
    usock = urlopen(url)
    data = usock.read()
    usock.close()
    soup = BS(data,"lxml")

    python_dict = json.loads(soup.getText())
    list_dates=python_dict['optionChain']['result'][0]['expirationDates']
    return list_dates

name="SBUX"

def get_options(name):
    call=pd.DataFrame()
    put=pd.DataFrame()
    name1=name.replace('WIKI/' ,'')
    list_dates=get_list_dates(name)
    #print(list_dates)
    for j in list_dates:
        #print(j)
        try:
            calls=pd.read_html("https://finance.yahoo.com/quote/"+name+"/options?p="+name+"&date="+str(j))[0]
            calls["expiration"]=datetime.datetime.fromtimestamp(int(j)).strftime('%Y-%m-%d')
            call=call.append(calls)
        except Exception as err:
            print("Error: {0}".format(err))
        try:
            puts=pd.read_html("https://finance.yahoo.com/quote/"+name+"/options?p="+name+"&date="+str(j))[1]
            puts["expiration"]=datetime.datetime.fromtimestamp(int(j)).strftime('%Y-%m-%d')
            put=put.append(puts)
        except Exception as err:
            print("Error: {0}".format(err))
    call["type"]="call"
    put["type"]="put"
    final=call.append(put)
    final["ticker"]=name
    return final

In [ ]:
options_sbux=get_options(name)

In [ ]:
options_sbux.head()

In [ ]:
options_sbux.to_csv("SBUX_options.csv")

# Analisis options SBUX

In [16]:
options_sbux

,Unnamed: 0,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility,expiration,type,ticker,ITM,LT_WeekDay,LT_Hour,B/A Spread,B/A Spread %
0,0,SPY180711C00240000,2018-06-08 16:05:00,240.0,37.24,38.19,38.41,0.00,0.0000,2,0,2.1445,2018-07-11 00:00:00,call,SBUX,1,4,16,0.22,0.005761
1,1,SPY180711C00245000,2018-07-10 15:59:00,245.0,33.93,31.45,31.94,0.00,0.0000,7,0,0.9531,2018-07-11 00:00:00,call,SBUX,1,1,15,0.49,0.015580
2,2,SPY180711C00250000,2018-07-09 10:47:00,250.0,27.01,25.50,27.96,0.00,0.0000,5,5,1.5469,2018-07-11 00:00:00,call,SBUX,1,0,10,2.46,0.096471
3,3,SPY180711C00255000,2018-06-29 23:46:00,255.0,14.62,16.62,16.89,0.00,0.0000,1,1,0.0000,2018-07-11 00:00:00,call,SBUX,1,4,23,0.27,0.016245
4,4,SPY180711C00259000,2018-06-27 14:37:00,259.0,13.81,12.62,12.81,0.00,0.0000,1,0,0.0000,2018-07-11 00:00:00,call,SBUX,1,2,14,0.19,0.015055
5,5,SPY180711C00260000,2018-07-10 11:12:00,260.0,18.72,18.81,19.04,0.78,0.0435,6,48,1.3716,2018-07-11 00:00:00,call,SBUX,1,1,11,0.23,0.012228
6,6,SPY180711C00261000,2018-06-29 23:46:00,261.0,9.24,10.87,11.13,0.00,0.0000,2,2,0.0000,2018-07-11 00:00:00,call,SBUX,1,4,23,0.26,0.023919
7,7,SPY180711C00262000,2018-06-29 23:46:00,262.0,8.36,9.95,10.20,0.00,0.0000,2,2,0.0000,2018-07-11 00:00:00,call,SBUX,1,4,23,0.25,0.025126
8,8,SPY180711C00263000,2018-07-06 13:31:00,263.0,12.66,12.43,12.62,4.53,0.5572,10,105,0.0000,2018-07-11 00:00:00,call,SBUX,1,4,13,0.19,0.015286
9,9,SPY180711C00264000,2018-07-09 09:30:00,264.0,12.70,14.81,15.04,0.00,0.0000,2,153,1.1587,2018-07-11 00:00:00,call,SBUX,1,0,9,0.23,0.015530
10,10,SPY180711C00265000,2018-07-09 13:08:00,265.0,12.62,13.81,14.04,0.00,0.0000,10,131,1.1040,2018-07-11 00:00:00,call,SBUX,1,0,13,0.23,0.016655
11,11,SPY180711C00266000,2018-07-10 09:42:00,266.0,12.59,12.81,13.04,1.87,0.1744,28,439,1.0488,2018-07-11 00:00:00,call,SBUX,1,1,9,0.23,0.017955
12,12,SPY180711C00266500,2018-07-06 23:50:00,266.5,5.02,8.94,9.15,0.00,0.0000,44,44,0.0000,2018-07-11 00:00:00,call,SBUX,1,4,23,0.21,0.023490
13,13,SPY180711C00267000,2018-07-09 11:47:00,267.0,10.52,11.81,12.04,0.00,0.0000,1,312,0.9932,2018-07-11 00:00:00,call,SBUX,1,0,11,0.23,0.019475
14,14,SPY180711C00267500,2018-07-10 15:32:00,267.5,11.30,8.04,10.46,0.00,0.0000,25,145,0.7339,2018-07-11 00:00:00,call,SBUX,1,1,15,2.42,0.300995
15,15,SPY180711C00268000,2018-07-10 11:24:00,268.0,10.45,10.81,11.04,0.80,0.0829,23,330,0.9363,2018-07-11 00:00:00,call,SBUX,1,1,11,0.23,0.021277
16,16,SPY180711C00268500,2018-07-06 23:50:00,268.5,3.71,7.00,7.19,0.00,0.0000,22,110,0.0000,2018-07-11 00:00:00,call,SBUX,1,4,23,0.19,0.027143
17,17,SPY180711C00269000,2018-07-10 12:25:00,269.0,9.67,9.82,10.04,1.63,0.2027,42,549,0.8799,2018-07-11 00:00:00,call,SBUX,1,1,12,0.22,0.022403
18,18,SPY180711C00269500,2018-07-11 09:31:00,269.5,7.66,7.03,7.38,-1.44,-0.1582,10,186,0.0000,2018-07-11 00:00:00,call,SBUX,1,2,9,0.35,0.049787
19,19,SPY180711C00270000,2018-07-10 11:11:00,270.0,8.74,8.82,9.05,0.99,0.1277,33,746,0.8218,2018-07-11 00:00:00,call,SBUX,1,1,11,0.23,0.026077
20,20,SPY180711C00270500,2018-07-11 10:34:00,270.5,7.39,6.04,6.38,-1.03,-0.1223,16,83,0.0000,2018-07-11 00:00:00,call,SBUX,1,2,10,0.34,0.056291
21,21,SPY180711C00271000,2018-07-10 14:20:00,271.0,7.56,7.82,8.05,0.61,0.0878,37,525,0.7617,2018-07-11 00:00:00,call,SBUX,1,1,14,0.23,0.029412
22,22,SPY180711C00271500,2018-07-11 15:59:00,271.5,5.38,5.03,5.38,-1.94,-0.2650,17,611,0.0000,2018-07-11 00:00:00,call,SBUX,1,2,15,0.35,0.069583
23,23,SPY180711C00272000,2018-07-10 15:58:00,272.0,6.89,6.82,7.05,1.22,0.2152,378,1321,0.7000,2018-07-11 00:00:00,call,SBUX,1,1,15,0.23,0.033724
24,24,SPY180711C00272500,2018-07-11 14:42:00,272.5,4.70,4.05,4.38,-1.38,-0.2270,110,2816,0.0000,2018-07-11 00:00:00,call,SBUX,1,2,14,0.33,0.081481
25,25,SPY180711C00273000,2018-07-10 16:10:00,273.0,6.00,5.83,6.05,1.06,0.2146,77,2257,0.6372,2018-07-11 00:00:00,call,SBUX,1,1,16,0.22,0.037736
26,26,SPY180711C00273500,2018-07-11 15:59:00,273.5,3.43,3.05,3.37,-1.90,-0.3565,248,1277,0.0000,2018-07-11 00:00:00,call,SBUX,1,2,15,0.32,0.104918
27,27,SPY180711C00274000,2018-07-10 16:00:00,274.0,4.81,4.83,5.06,0.82,0.2055,155,1949,0.5715,2018-07-11 00:00:00,call,SBUX,1,1,16,0.23,0.047619
28,28,SPY180711C00274500,2018-07-11 16:10:00,274.5,2.30,2.05,2.38,-2.05,-0.4713,499,3146,0.0000,2018-07-11 00:00:00,call,SBUX,1,2,16,0.33,0.160976
29,29,SPY180711C00275000,2018-07-10 16:03:00,275.0,3.83,3.85,4.07,0.79,0.2599,319,4143,0.5044,2018-07-11 00:00:00,call,SBUX,1,1,16,0.22,0.057143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4668,4668,SPY201218P00245000,2018-07-02 13:56:00,245.0,17.08,16.54,17.33,0.00,0.0000,1,1325,0.1896,2020-12-18 00:00:00,put,SBUX,0,0,13,0.79,0.047763
4669,4669,SPY201218P00250000,2018-07-09 15:39:00,250.0,15.97,15.54,16.02,0.00,0.0000,29,2083,0.1675,2020-12-18 00:00:00,put,SBUX,0,0,15,0.48,0.030888
4670,4670,SPY201218P00255000,2018-06-27 11:29:00,255.0,19.74,19.29,20.18,0.17,0.0087,36,425,0.1809,2020-12-18 00:00:00,put,SBUX,0,2,11,0.89,0.046138
4671,4671,SPY201218P00260000,2018-07-10 11:51:00,260.0,18.40,18.31,18.82,-0.65,-0.0341,3,983,0.1584,2020-12-18 00:00:00,put,SBUX,0,1,11,0.51,0.027854
4672,4672,SPY201218P00265000,2018-07-09 15:06:00,265.0,20.40,19.85,20.42,0.00,0.0000,8,595,0.1541,2020-12-18 00:00:00,put,SBUX,0,0,15,0.57,0.028715
4673,4673,SPY201218P00270000,2018-07-10 13:38:00,270.0,21.75,21.59,22.11,-0.46,-0.0207,53,918,0.1496,2020-12-18 00:00:00,put,SBUX,0,1,13,0.52,0.024085
4674,4674,SPY201218P00275000,2018-07-10 13:53:00,275.0,23.71,23.19,23.87,-0.09,-0.0038,7,1094,0.1447,2020-12-18 00:00:00,put,SBUX,0,1,13,0.68,0.029323
4675,4675,SPY201218P00280000,2018-07-10 13:58:00,280.0,25.49,25.10,25.84,-0.16,-0.0062,7,341,0.1402,2020-12-18 00:00:00,put,SBUX,1,1,13,0.74,0.029482
4676,4676,SPY201218P00285000,2018-07-10 13:51:00,285.0,27.85,27.15,27.90,-2.15,-0.0717,13,137,0.1354,2020-12-18 00:00:00,put,SBUX,1,1,13,0.75,0.027624
4677,4677,SPY201218P00290000,2018-07-09 09:34:00,290.0,30.60,29.32,30.11,0.00,0.0000,1,116,0.1305,2020-12-18 00:00:00,put,SBUX,1,0,9,0.79,0.026944
4678,4678,SPY201218P00295000,2018-06-29 13:57:00,295.0,35.20,35.21,36.87,0.65,0.0188,2,70,0.1513,2020-12-18 00:00:00,put,SBUX,1,4,13,1.66,0.047146
4679,4679,SPY201218P00300000,2018-07-03 12:54:00,300.0,39.48,38.72,40.05,-0.49,-0.0123,6,778,0.1505,2020-12-18 00:00:00,put,SBUX,1,1,12,1.33,0.034349
4680,4680,SPY201218P00305000,2018-06-28 13:00:00,305.0,42.14,40.84,42.62,0.00,0.0000,2,25,0.1452,2020-12-18 00:00:00,put,SBUX,1,3,13,1.78,0.043585
4681,4681,SPY201218P00310000,2018-06-29 15:00:00,310.0,44.06,43.95,45.83,-2.24,-0.0484,1,38,0.1429,2020-12-18 00:00:00,put,SBUX,1,4,15,1.88,0.042776
4682,4682,SPY201218P00315000,2018-06-15 10:31:00,315.0,45.00,43.27,45.65,0.32,0.0072,101,105,0.1169,2020-12-18 00:00:00,put,SBUX,1,4,10,2.38,0.055003
4683,4683,SPY201218P00320000,2018-07-02 09:45:00,320.0,53.69,51.78,53.60,0.00,0.0000,5,8,0.1444,2020-12-18 00:00:00,put,SBUX,1,0,9,1.82,0.035149
4684,4684,SPY201218P00325000,2018-07-10 15:44:00,325.0,49.98,49.18,50.45,-2.58,-0.0491,11,2528,0.0874,2020-12-18 00:00:00,put,SBUX,1,1,15,1.27,0.025824
4685,4685,SPY201218P00330000,2018-06-27 09:45:00,330.0,59.15,58.89,60.53,1.97,0.0345,3,25,0.1370,2020-12-18 00:00:00,put,SBUX,1,2,9,1.64,0.027849
4686,4686,SPY201218P00335000,2018-07-09 11:35:00,335.0,59.06,56.94,58.36,0.00,0.0000,8,78,0.0645,2020-12-18 00:00:00,put,SBUX,1,0,11,1.42,0.024939
4687,4687,SPY201218P00340000,2018-06-29 09:44:00,340.0,67.15,67.50,70.11,-0.75,-0.0110,14,40,0.1466,2020-12-18 00:00:00,put,SBUX,1,4,9,2.61,0.038667
4688,4688,SPY201218P00345000,2018-06-18 09:42:00,345.0,69.66,69.12,71.38,0.00,0.0000,1,2,0.1193,2020-12-18 00:00:00,put,SBUX,1,0,9,2.26,0.032697
4689,4689,SPY201218P00350000,2018-07-10 13:34:00,350.0,72.00,70.95,72.57,-2.83,-0.0378,5,24,0.0000,2020-12-18 00:00:00,put,SBUX,1,1,13,1.62,0.022833
4690,4690,SPY201218P00355000,2018-04-27 12:52:00,355.0,87.49,86.53,89.99,0.00,0.0000,1,1,0.2011,2020-12-18 00:00:00,put,SBUX,1,4,12,3.46,0.039986
4691,4691,SPY201218P00360000,2018-05-22 10:01:00,360.0,87.00,87.23,90.51,0.00,0.0000,2,4,0.1731,2020-12-18 00:00:00,put,SBUX,1,1,10,3.28,0.037602
4692,4692,SPY201218P00370000,2018-06-18 10:02:00,370.0,94.60,94.03,96.29,0.00,0.0000,5,5,0.1432,2020-12-18 00:00:00,put,SBUX,1,0,10,2.26,0.024035
4693,4693,SPY201218P00380000,2018-06-22 23:47:00,380.0,104.40,104.00,106.26,0.00,0.0000,4,0,0.1519,2020-12-18 00:00:00,put,SBUX,1,4,23,2.26,0.021731
4694,4694,SPY201218P00390000,1969-12-31 20:00:00,390.0,123.00,122.45,125.49,0.00,0.0000,0,3,0.2439,2020-12-18 00:00:00,put,SBUX,1,2,20,3.04,0.024826
4695,4695,SPY201218P00400000,2018-05-10 11:06:00,400.0,128.73,126.05,128.97,0.00,0.0000,10,10,0.1989,2020-12-18 00:00:00,put,SBUX,1,3,11,2.92,0.023165
4696,4696,SPY201218P00405000,2018-05-10 11:11:00,405.0,134.09,131.03,133.61,0.00,0.0000,21,21,0.1997,2020-12-18 00:00:00,put,SBUX,1,3,11,2.58,0.019690
4697,4697,SPY201218P00410000,2018-06-19 14:45:00,410.0,134.58,133.93,136.24,-12.92,-0.0876,1,10,0.1768,2020-12-18 00:00:00,put,SBUX,1,1,14,2.31,0.017248

In [85]:
from datetime import datetime
import numpy as np
#datetime.strptime(, '%Y-%m-%d %H:%M:%S')
#df['url'].replace({'icashier.alipay.com': 'aliexpress.com'}, inplace=True, regex=True)
options_sbux=pd.read_csv("SPY_options.csv")
#options_sbux['last_trade_date'] = options_sbux["Last Trade Date"].replace({'PM':' '}, inplace=True, regex=True)
#options_sbux['last_trade_date'] = options_sbux["Last Trade Date"].str.replace('PM', ' ').str.replace('AM', ' ')
#options_sbux['Date']=pd.to_datetime(options_sbux["last_trade_date"], format='%Y-%m-%d %H:%M:%S')
#options_sbux['Date']=options_sbux['Date'].dt.date
precio_actual=276.91#48.98
#options_sbux['ITM'] = np.where((options_sbux['Strike']>precio_actual), '1', '0')

aux_options=options_sbux[options_sbux.ITM==0]
#aux_options["days"]=aux_options["expiration"]-
aux_options["expiration"]=pd.to_datetime(aux_options['expiration'])#.date()
import datetime as dt
aux_options["days"]=(aux_options["expiration"]-pd.to_datetime("2018-07-11")).dt.days

/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
#aux_options.head()

In [86]:
#pd.DataFrame({'sum' : options_sbux.groupby( [ "Date"] ).sum()})#.reset_index()
oi_total=pd.DataFrame(aux_options.groupby('expiration')['Open Interest'].sum())
oi_total.columns=["Total"]
oi_total.head()
oi_call=pd.DataFrame(aux_options[aux_options.type=="call"].groupby('expiration')['Open Interest'].sum())
oi_call.columns=["call"]
oi_call.head()
oi_put=pd.DataFrame(aux_options[aux_options.type=="put"].groupby('expiration')['Open Interest'].sum())
oi_put.columns=["put"]
final=pd.concat([oi_total,oi_call,oi_put],axis=1)
final.head()
final.sort_values(["Total"], ascending=False).head(5)

              Total     call      put
expiration
2018-07-20  4126329  1412850  2713479
2018-09-21  2948036  1132771  1815265
2018-08-17  2469530   770423  1699107
2018-12-21  1654597   507805  1146792
2019-01-18  1172983   242771   930212

In [87]:
table = pd.pivot_table(aux_options, values='Open Interest', index=['expiration'],columns=['type'], aggfunc=np.sum)
table["total"]=table["call"]+table["put"]
table.sort_values(["total"], ascending=False).head(5)

type           call      put    total
expiration
2018-07-20  1412850  2713479  4126329
2018-09-21  1132771  1815265  2948036
2018-08-17   770423  1699107  2469530
2018-12-21   507805  1146792  1654597
2019-01-18   242771   930212  1172983

In [75]:
aux_options=aux_options[aux_options.days>30]
oi_total=pd.DataFrame(aux_options.groupby('expiration')['Open Interest'].sum())
oi_total.columns=["Total"]
oi_total.head()
oi_call=pd.DataFrame(aux_options[aux_options.type=="call"].groupby('expiration')['Open Interest'].sum())
oi_call.columns=["call"]
oi_call.head()
oi_put=pd.DataFrame(aux_options[aux_options.type=="put"].groupby('expiration')['Open Interest'].sum())
oi_put.columns=["put"]
final=pd.concat([oi_total,oi_call,oi_put],axis=1)
final.head()
final.sort_values(["Total"], ascending=False).head(5)

              Total     call      put
expiration
2018-09-21  2948036  1132771  1815265
2018-08-17  2469530   770423  1699107
2018-12-21  1654597   507805  1146792
2019-01-18  1172983   242771   930212
2019-12-20   574658   133311   441347

In [27]:
oi_total[oi_total.index=='2018-08-17 00:00:00']

                       Total
expiration
2018-08-17 00:00:00  2469530

                        call
expiration
2018-07-11 00:00:00    78454
2018-07-13 00:00:00   276785
2018-07-16 00:00:00    29901
2018-07-18 00:00:00    39030
2018-07-20 00:00:00  1412850

                       Total     call      put
expiration
2018-07-11 00:00:00   204232    78454   125778
2018-07-13 00:00:00   868957   276785   592172
2018-07-16 00:00:00    72746    29901    42845
2018-07-18 00:00:00    81642    39030    42612
2018-07-20 00:00:00  4126329  1412850  2713479

                       Total     call      put
expiration
2018-07-20 00:00:00  4126329  1412850  2713479
2018-09-21 00:00:00  2948036  1132771  1815265
2018-08-17 00:00:00  2469530   770423  1699107
2018-12-21 00:00:00  1654597   507805  1146792
2019-01-18 00:00:00  1172983   242771   930212