In [8]:
import pandas as pd
from datetime import datetime,date,timedelta
import time
import pandas as pd
from sqlalchemy.orm import sessionmaker#,relationship, backref
from sqlalchemy import create_engine,select
from Schema import *
from mvo_utils import *

In [10]:
## cargar datos de bloomberg
data_bloomberg=pd.read_csv("./data_FRED_Bloomberg_inicial/Bloomberg.csv",index_col=[0])
data_bloomberg["instrument_id"]=data_bloomberg["ticker"].apply(get_id_instrument)
data_bloomberg["date_"]=pd.to_datetime(data_bloomberg["date_"])
#data_bloomberg.to_sql(con=engine, name='time_series', if_exists='append',index=False) 
data_bloomberg.tail()

         date_   value          ticker    category  instrument_id
299 1993-05-31  112.48  BEBGTRUU Index  Last Price            636
300 1993-04-30  108.96  BEBGTRUU Index  Last Price            636
301 1993-03-31  105.87  BEBGTRUU Index  Last Price            636
302 1993-02-26  102.49  BEBGTRUU Index  Last Price            636
303 1993-01-29  101.29  BEBGTRUU Index  Last Price            636

In [11]:
data_bloomberg.ticker.unique()

array(['SPX Index', 'FNERTR Index', 'RU10INTR Index', 'RU20INTR Index',
       'GDDUEAFE Index', 'GDLEEGF Index', 'SPGSCITR Index',
       'XAU BGN Curncy', 'OILPHIST Index', 'SPBDUB6T Index',
       'LMBITR Index', 'LBUTTRUU Index', 'LBUSTRUU Index',
       'LF98TRUU Index', 'BT69TRUU Index', 'LT31TRUU Index',
       'LUTLTRUU Index', 'LGDRTRUU Index', 'EMUSTRUU Index',
       'BEBGTRUU Index'], dtype=object)

In [ ]:
data_bloomberg.to_sql(con=engine, name='time_series', if_exists='append',index=False)

In [ ]:
# update instrument table
l=data_bloomberg.ticker.unique().tolist()
for i in l:
    aux=data_bloomberg[data_bloomberg.ticker==i]
    df_instrument = pd.DataFrame(columns=["refreshed_at","newest_available_date","oldest_available_date","start_date","end_date","frequency"])
    df_instrument.loc[0] = [datetime.fromtimestamp(time.time()).strftime('%Y-%m-%dT%H:%M:%S.%fZ'),max(aux.date_).strftime('%Y-%m-%d'),min(aux.date_).strftime('%Y-%m-%d'),min(aux.date_).strftime('%Y-%m-%d'),max(aux.date_).strftime('%Y-%m-%d'),""]
    df_instrument
    aux.columns=["date_","value","ticker","category","id"]
    row=aux.loc[0]
    #print(row)
    update_data_vendor("Bloomberg","https://www.bloomberg.com/")
    update_instrument_db(df_instrument,row)

In [3]:
data_fred=pd.read_csv("./data_FRED_Bloomberg_inicial/FRED_time_series.csv",index_col=[0])
data_fred.head()
data_fred["instrument_id"]=data_fred["ticker"].apply(get_id_instrument)
data_fred["date_"]=pd.to_datetime(data_fred["date_"])
#data_fred.to_sql(con=engine, name='time_series', if_exists='append',index=False) 
data_fred.head()

        date_           ticker   value category  instrument_id
0  1972-12-31  BAMLCC0A0CMTRIV  100.00    Value            565
23 1973-01-31  BAMLCC0A0CMTRIV  100.00    Value            565
43 1973-02-28  BAMLCC0A0CMTRIV  100.00    Value            565
66 1973-03-31  BAMLCC0A0CMTRIV  100.46    Value            565
87 1973-04-30  BAMLCC0A0CMTRIV  100.46    Value            565

In [5]:
data_fred[data_fred.ticker=="PCEC96"].tail(400)

           date_  ticker      value category  instrument_id
72943 1957-01-01  PCEC96   1717.525    Value            584
72944 1957-04-01  PCEC96   1720.527    Value            584
72945 1957-07-01  PCEC96   1734.116    Value            584
72946 1957-10-01  PCEC96   1734.863    Value            584
72947 1958-01-01  PCEC96   1711.050    Value            584
72948 1958-04-01  PCEC96   1725.120    Value            584
72949 1958-07-01  PCEC96   1753.536    Value            584
72950 1958-10-01  PCEC96   1777.092    Value            584
72951 1959-01-01  PCEC96   1809.422    Value            584
72952 1959-04-01  PCEC96   1837.338    Value            584
72953 1959-07-01  PCEC96   1856.508    Value            584
72954 1959-10-01  PCEC96   1858.602    Value            584
72955 1960-01-01  PCEC96   1876.347    Value            584
72956 1960-04-01  PCEC96   1900.059    Value            584
72957 1960-07-01  PCEC96   1892.452    Value            584
72958 1960-10-01  PCEC96   1894.944    Value            584
72959 1961-01-01  PCEC96   1894.409    Value            584
72960 1961-04-01  PCEC96   1922.639    Value            584
72961 1961-07-01  PCEC96   1931.998    Value            584
72962 1961-10-01  PCEC96   1970.746    Value            584
72963 1962-01-01  PCEC96   1991.679    Value            584
72964 1962-04-01  PCEC96   2016.143    Value            584
72965 1962-07-01  PCEC96   2032.474    Value            584
72966 1962-10-01  PCEC96   2061.298    Value            584
72967 1963-01-01  PCEC96   2075.231    Value            584
72968 1963-04-01  PCEC96   2095.103    Value            584
72969 1963-07-01  PCEC96   2123.670    Value            584
72970 1963-10-01  PCEC96   2141.367    Value            584
72971 1964-01-01  PCEC96   2183.579    Value            584
72972 1964-04-01  PCEC96   2221.988    Value            584
...          ...     ...        ...      ...            ...
72873 2015-11-01  PCEC96  11376.600    Value            584
72874 2015-12-01  PCEC96  11413.900    Value            584
72875 2016-01-01  PCEC96  11399.800    Value            584
72876 2016-02-01  PCEC96  11447.500    Value            584
72877 2016-03-01  PCEC96  11444.300    Value            584
72878 2016-04-01  PCEC96  11505.100    Value            584
72879 2016-05-01  PCEC96  11532.900    Value            584
72880 2016-06-01  PCEC96  11575.300    Value            584
72881 2016-07-01  PCEC96  11594.100    Value            584
72882 2016-08-01  PCEC96  11604.000    Value            584
72883 2016-09-01  PCEC96  11656.300    Value            584
72884 2016-10-01  PCEC96  11668.300    Value            584
72885 2016-11-01  PCEC96  11698.000    Value            584
72886 2016-12-01  PCEC96  11740.100    Value            584
72887 2017-01-01  PCEC96  11728.400    Value            584
72888 2017-02-01  PCEC96  11729.600    Value            584
72889 2017-03-01  PCEC96  11816.100    Value            584
72890 2017-04-01  PCEC96  11827.400    Value            584
72891 2017-05-01  PCEC96  11859.800    Value            584
72892 2017-06-01  PCEC96  11871.600    Value            584
72893 2017-07-01  PCEC96  11895.800    Value            584
72894 2017-08-01  PCEC96  11891.800    Value            584
72895 2017-09-01  PCEC96  11962.100    Value            584
72896 2017-10-01  PCEC96  11982.700    Value            584
72897 2017-11-01  PCEC96  12042.400    Value            584
72898 2017-12-01  PCEC96  12080.500    Value            584
72899 2018-01-01  PCEC96  12053.600    Value            584
72900 2018-02-01  PCEC96  12041.800    Value            584
72901 2018-03-01  PCEC96  12102.300    Value            584
72902 2018-04-01  PCEC96  12145.100    Value            584

[400 rows x 5 columns]

In [6]:
data_fred.to_sql(con=engine, name='time_series', if_exists='append',index=False)

In [ ]:
data_fred[data_fred.ticker=="WILL5000INDFC"]

In [ ]:
metadata_fred=pd.read_csv("./data_FRED_Bloomberg_inicial/metadata_FRED.csv")

In [ ]:
l=data_fred.ticker.unique().tolist()
for i in l:
    print(i)
    aux=data_fred[data_fred.ticker==i]
    aux.index=range(1,len(aux)+1)
    f=metadata_fred[metadata_fred.id=="BAMLHYH0A0HYM2TRIV"]["frequency"].loc[1]
    df_instrument = pd.DataFrame(columns=["refreshed_at","newest_available_date","oldest_available_date","start_date","end_date","frequency"])
    df_instrument.loc[0] = [datetime.fromtimestamp(time.time()).strftime('%Y-%m-%dT%H:%M:%S.%fZ'),max(aux.date_).strftime('%Y-%m-%d'),min(aux.date_).strftime('%Y-%m-%d'),min(aux.date_).strftime('%Y-%m-%d'),max(aux.date_).strftime('%Y-%m-%d'),f]
    #print(df_instrument)
    aux.columns=["date_","value","ticker","category","id"]
    row=aux.loc[1]
    print(row)
    update_data_vendor("FRED","https://fred.stlouisfed.org/")
    update_instrument_db(df_instrument,row)