# Download historical prices and for new rows

In [76]:
import pandas as pd
from sqlalchemy.orm import sessionmaker#,relationship, backref
from sqlalchemy import create_engine,select
from Schema import *
from mvo_utils import *
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score,explained_variance_score,mean_absolute_error
from sklearn.model_selection import KFold
from sklearn.linear_model import Lasso
import random
random.seed( 3 )

## pandasframe que contiene informacion inicial
engine = create_engine('mysql+pymysql://quantum_user:Qu4ntum_u$3r@localhost/securities_master_database')

In [79]:
def get_data(Table):
    '''Funcion que obtiene los datos de Tabla de la base de datos'''
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    sql = select([Table]).select_from(Table)
    result=s.execute(sql)
    df = pd.DataFrame(result.fetchall())
    df.columns = result.keys() 
    s.close()
    return df

In [80]:
instrument=get_data(Instrument)

In [8]:
#instrument.tail()

In [59]:
#instrument_news=instrument[instrument.name=="SP500"]
#instrument_news

,id,instrument_type_id,industry_id,sector_id,data_vendor_id,name,type,description,refresh_at,newest_available_date,oldest_available_date,start_date,end_date,frequency
567,568,6,1,13,3,SP500,time_series,S&P 500,2018-06-09 00:51:27,2018-06-08,1970-12-31,1970-12-31,2018-06-08,"Daily, Close"

In [81]:
### rows news
instrument_news=instrument[instrument.refresh_at.isnull()]
instrument_news.end_date=instrument_news.end_date.astype(object).where(instrument_news.end_date.notnull(), None)
instrument_news

/home/ubuntu/.local/lib/python3.5/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,id,instrument_type_id,industry_id,sector_id,data_vendor_id,name,type,description,refresh_at,newest_available_date,oldest_available_date,start_date,end_date,frequency
658,661,6,1,13,3,WILL5000IND,time_series,Wilshire 5000 Total Market Index,NaT,NaT,NaT,NaT,None,None

In [83]:
## download historical
download_data_daily(instrument_news)

In [75]:
## write in db
write_db()

./temp_data/EXPGSC96.csv
./temp_data/DGS2.csv
./temp_data/DGS3MO.csv
./temp_data/NETFI.csv
./temp_data/GCEC96.csv
./temp_data/FF.csv
./temp_data/PCEPI.csv
./temp_data/FYFSD.csv
./temp_data/FYGFGDQ188S.csv
./temp_data/IMPGSC96.csv
./temp_data/TWEXM.csv
./temp_data/GPDIC96.csv