In [5]:
import pandas as pd
import os
from math import *
import re
from datetime import datetime, date, time, timedelta
import fix_yahoo_finance as yf
import numpy as np
from time import sleep


#universe = ['spy','ark'] 
universe = ['spy']
#universe = ['ark']


#variables for data download
frame = 20 #for limiting the range of optimizations, 1 year
hist_window = frame * 5 #for historical pricing
date_fmt = '%Y-%m-%d'
start_date = datetime.now() - timedelta(hist_window)
start_date = start_date.strftime(date_fmt)
sleep_time = 5

config = {'spy' : {
            'benchmark': 'spy',
            'skiprows': 1,
            'columns': ['Symbol', 'Company Name']},
        'ark' : {
            'benchmark': 'ark' ,
            'skiprows': 0,
            'columns': ['ticker','company']}}

component_path = "./sector_components/"
pricing_path = "./pricing/"

## Script que obtiene los datos de las fuentes:
# 1. Sector components   : Contiene la información de los ETF sectors y sus componentes
# 2. Pricing            : Contiene la informacion historica de precios de cada uno de los componentes

In [6]:
################################################################################################################################
### 1. Sector components:
# de donde se extrae esta info, con que frecuencia se actualiza?

## 1.1 descargar componentes del server:
#### aqui de donde se descargan los datos??????? nota : por ahora se descarga de diferentes fuentes

## 1.2 cargar los sector componentes para cada benchmark, cargar cada ETF sector para cada benchmark
# y cada company para cada ETF sectior y limpiarlos



def load_companies(benchmark,skiprows,columns): ## el input es el nombre del benchmark, si ignora o no el primer row y el nombre de las columnas que son de interes, primero ticker y luego nombre de la compañia
    resultados_benchmark = {}
    resultados_companies = {}
    resultados = pd.DataFrame([])
    ## que ETF SECTOR tiene el benchmark?: calcularlo:
    directory=component_path+benchmark ## directorio donde se buscará los archivos
    file_list=os.listdir(directory)    ## lista de archivos en el directorio
    files = [f for f in file_list if bool(re.search("-"+benchmark+"-", f))] ## lista de archivos .etf sectors
    for key in files: ## loop que recorre todos los etf sectors
        aux = pd.read_csv(directory+"/"+key,skiprows=skiprows,index_col=columns[0])[columns[1]] ## load companies
        aux=aux.to_frame()
        aux.columns=["company_name"]
        aux.index.name = "ticker"
        aux = aux.reset_index().dropna().set_index('ticker')
        aux["benchmark"]=benchmark ## agrega columna con nombre del benchmark
        aux["etf_sector"]=re.search("\-([a-z]*?)\.csv",key).groups()[0]  # agrega columna con nonmbre del etf sector
        print("loaded: "+ re.search("\-([a-z]*?)\.csv",key).groups()[0])
        resultados=resultados.append(aux)
        resultados_companies[re.search("\-([a-z]*?)\.csv",key).groups()[0]] = aux.index.tolist()
    resultados_benchmark[benchmark]=resultados.etf_sector.unique().tolist()
    return resultados,resultados_benchmark,resultados_companies


companies_universe=pd.DataFrame() ### contiene todas las compañias del etf sector para cada benchmark
sector_etf = {}   ### contiene cada etf sector para cada benchmark
ticker_map= {}    ### contiene todas las compañias para cada etf sector 


for k in universe:
    #print(config[k])
    companies,benchmark_etf_map,sector_tickers_map=load_companies(benchmark=config[k]['benchmark'],
    skiprows=config[k]['skiprows'],columns=config[k]['columns']) ## companies del benchmark spy
    print("Companies loaded:",config[k]['benchmark'], companies.shape)
    companies_universe=companies_universe.append(companies)
    sector_etf.update(benchmark_etf_map)
    ticker_map.update(sector_tickers_map)

loaded: xlb
loaded: xle
loaded: xlf
loaded: xli
loaded: xlk
loaded: xlp
loaded: xlre
loaded: xlu
loaded: xlv
loaded: xly
Companies loaded: spy (505, 3)

In [48]:
################################################################################################################################
# 2. Princing            : Contiene la informacion historica de precios de cada uno de los componentes


## 2.1 descargar componentes del server:

def get_pricing(output_name,ticker_list,start_date):
    try:
        if isinstance(ticker_list, list)==False:
            ticker_list=[ticker_list]
        px = yf.download(ticker_list, start=start_date)['Adj Close']
        if isinstance(px, pd.DataFrame)==False: 
            px=px.to_frame()
            px.columns=ticker_list
        px.sort_index(ascending=True, inplace=True)
        px.to_csv(output_name)
        print(output_name)
        #return px
    except Exception as err:
        print("Error: {0}, waiting to try again in {1}".format(err, sleep_time))
        print(output_name)
        sleep(sleep_time)

In [49]:
### refresh components
etfs=[ [i,j,ticker_map[j]] for i in universe for j in sector_etf[i] ]
for i in etfs:
    get_pricing(output_name=pricing_path+i[0]+"/"+i[1]+"-hold-pricing.csv",
        ticker_list=i[2],start_date=start_date)

[*********************100%***********************]  25 of 25 downloaded
./pricing/spy/xlb-hold-pricing.csv
[*********************100%***********************]  32 of 32 downloaded
./pricing/spy/xle-hold-pricing.csv
[*********************100%***********************]  67 of 67 downloaded
./pricing/spy/xlf-hold-pricing.csv
[*********************100%***********************]  70 of 70 downloaded
./pricing/spy/xli-hold-pricing.csv
[*********************100%***********************]  71 of 71 downloaded
./pricing/spy/xlk-hold-pricing.csv
[*********************100%***********************]  34 of 34 downloaded
./pricing/spy/xlp-hold-pricing.csv
[*********************100%***********************]  33 of 33 downloaded
./pricing/spy/xlre-hold-pricing.csv
[*********************100%***********************]  28 of 28 downloaded
./pricing/spy/xlu-hold-pricing.csv
[*********************100%***********************]  61 of 61 downloaded
./pricing/spy/xlv-hold-pricing.csv
[*********************100%***********************]  84 of 84 downloaded
./pricing/spy/xly-hold-pricing.csv
[*********************100%***********************]  36 of 36 downloaded
./pricing/ark/arkg-hold-pricing.csv
[*********************100%***********************]  55 of 55 downloaded
./pricing/ark/arkk-hold-pricing.csv
[*********************100%***********************]  47 of 47 downloaded
./pricing/ark/arkq-hold-pricing.csv
[*********************100%***********************]  45 of 45 downloaded
./pricing/ark/arkw-hold-pricing.csv

In [50]:
## refresh etf sectors 
sectors=[[i,sector_etf[i]] for i in universe]
for j in sectors:
    get_pricing(output_name=pricing_path+j[0]+"/"+j[0]+'-sectors.csv', 
        ticker_list=j[1], start_date=start_date)

[*********************100%***********************]  10 of 10 downloaded
./pricing/spy/spy-sectors.csv
[*********************100%***********************]  4 of 4 downloaded
./pricing/ark/ark-sectors.csv

In [51]:
# refresh benchmarks
benchmarks=[i for i in universe]
#benchmarks
for j in benchmarks:
    print(j)
    get_pricing(output_name=pricing_path+ j +'/'+j+'.csv', ticker_list=j, start_date=start_date)

spy
[*********************100%***********************]  1 of 1 downloaded
./pricing/spy/spy.csv
ark
[*********************100%***********************]  1 of 1 downloaded
./pricing/ark/ark.csv

In [12]:
### consol_px contiene los precios historicos de cada compañia
consol_px=pd.DataFrame()
### crear consol_px 
for i in universe:
    print(i)
    directory=pricing_path+i ## directorio donde se buscará los archivos
    file_list=os.listdir(directory)    ## lista de archivos en el directorio
    files = [f for f in file_list if bool(re.search("-hold-pricing.csv", f))] 
    for f in files:
        aux=pd.read_csv(directory+"/"+f,index_col="Date")
        #aux.index=aux["Date"]
        ccols = set(consol_px.columns.tolist())
        newcols = set(aux.columns.tolist())
        consol_px = consol_px.merge(
            aux[list(newcols.difference(ccols))], 
            left_index=True, 
            right_index=True, 
            how='outer')

consol_px.head()

spy

,ALB,DWDP,IFF,APD,NEM,EMN,WRK,FCX,MLM,VMC,...,GRMN,EXPE,TGT,AZO,FL,KORS,KSS,NWL,WYN,NWSA
Date,,,,,,,,,,,,,,,,,,,,,
2017-11-28,136.553299,70.725235,153.753082,162.297974,36.928703,91.125816,58.883568,14.21,203.479080,121.380882,...,61.871941,125.332848,56.156269,664.219971,40.189140,57.869999,45.505402,30.297430,110.349998,16.150000
2017-11-29,131.625443,71.411697,153.862595,161.681534,36.391773,90.847542,59.857014,14.01,207.621338,124.573532,...,61.360607,121.682953,61.174828,688.919983,42.315342,58.650002,47.176872,30.257759,112.269997,16.350000
2017-11-30,133.989624,71.590775,154.738632,162.099106,36.779556,91.801636,61.992638,13.92,207.940643,125.361725,...,61.045937,122.161629,59.409409,686.760010,42.563728,58.439999,47.443909,30.713957,112.389999,16.160000
2017-12-01,131.824951,70.645653,154.001968,160.707199,36.978416,91.414032,61.982708,14.11,202.213013,120.931908,...,60.210094,122.361076,59.022598,678.400024,43.030697,57.980000,47.523033,31.249493,111.669998,16.200001
2017-12-04,129.031845,71.759903,153.643585,161.462799,36.630409,90.837601,63.045551,14.30,207.990540,124.962639,...,59.836422,121.902344,62.047623,709.770020,45.464897,58.790001,49.600002,31.547012,112.209999,16.540001

In [13]:
# #### Limpiar las compañias que tienen valores nulos en los ultimos 3 dias y valores nulos en toda su serie
def clean_nas(df):
    cols = df.count().sort_values()[df.count().sort_values() < 1].index.tolist()  ## precios con toda la serie nula
    aux=df.tail(3)
    cols = list(set(cols+ df.columns[aux.isnull().any()].tolist() ))## precios con al menos las ultimas 3 dias sin precios
    df = df.drop(cols, axis=1) ## quitar empresas que tienen valores nulos en todos sus precios
    df.fillna(method='pad', inplace=True)
    df.fillna(method='bfill', inplace=True)
    cleanmin = lambda x: max(float(x), 1)
    df = df.applymap(cleanmin)
    return df,cols

consol_px,cols=clean_nas(consol_px) ## limpia de aquellos valores que no tienen valores en su serie o que por alguna razon no tienen NAN en los ultimos 3 dias
print("Se borraron las siguientes compañias")
print(cols)
consol_px.head()

Se borraron las siguientes compañias
['BF.B', 'BRK.B', 'CLX', 'CAT', 'SNI']

,ALB,DWDP,IFF,APD,NEM,EMN,WRK,FCX,MLM,VMC,...,GRMN,EXPE,TGT,AZO,FL,KORS,KSS,NWL,WYN,NWSA
Date,,,,,,,,,,,,,,,,,,,,,
2017-11-28,136.553299,70.725235,153.753082,162.297974,36.928703,91.125816,58.883568,14.21,203.479080,121.380882,...,61.871941,125.332848,56.156269,664.219971,40.189140,57.869999,45.505402,30.297430,110.349998,16.150000
2017-11-29,131.625443,71.411697,153.862595,161.681534,36.391773,90.847542,59.857014,14.01,207.621338,124.573532,...,61.360607,121.682953,61.174828,688.919983,42.315342,58.650002,47.176872,30.257759,112.269997,16.350000
2017-11-30,133.989624,71.590775,154.738632,162.099106,36.779556,91.801636,61.992638,13.92,207.940643,125.361725,...,61.045937,122.161629,59.409409,686.760010,42.563728,58.439999,47.443909,30.713957,112.389999,16.160000
2017-12-01,131.824951,70.645653,154.001968,160.707199,36.978416,91.414032,61.982708,14.11,202.213013,120.931908,...,60.210094,122.361076,59.022598,678.400024,43.030697,57.980000,47.523033,31.249493,111.669998,16.200001
2017-12-04,129.031845,71.759903,153.643585,161.462799,36.630409,90.837601,63.045551,14.30,207.990540,124.962639,...,59.836422,121.902344,62.047623,709.770020,45.464897,58.790001,49.600002,31.547012,112.209999,16.540001

In [15]:
# Removing tickers for M&A targets and diff class shares of same co.
remove_tickers=['CSRA', 'DPS', 'UAA'] 
remove = list(set(remove_tickers).intersection(consol_px.columns.tolist()))
if len(remove) > 0:
    consol_px.drop(remove, axis=1, inplace=True)
print("Se borraron las siguientes compañias")
print(remove)
consol_px.to_pickle("consol_px.pkl")
consol_px.head()

Se borraron las siguientes compañias
[]

,ALB,DWDP,IFF,APD,NEM,EMN,WRK,FCX,MLM,VMC,...,GRMN,EXPE,TGT,AZO,FL,KORS,KSS,NWL,WYN,NWSA
Date,,,,,,,,,,,,,,,,,,,,,
2017-11-28,136.553299,70.725235,153.753082,162.297974,36.928703,91.125816,58.883568,14.21,203.479080,121.380882,...,61.871941,125.332848,56.156269,664.219971,40.189140,57.869999,45.505402,30.297430,110.349998,16.150000
2017-11-29,131.625443,71.411697,153.862595,161.681534,36.391773,90.847542,59.857014,14.01,207.621338,124.573532,...,61.360607,121.682953,61.174828,688.919983,42.315342,58.650002,47.176872,30.257759,112.269997,16.350000
2017-11-30,133.989624,71.590775,154.738632,162.099106,36.779556,91.801636,61.992638,13.92,207.940643,125.361725,...,61.045937,122.161629,59.409409,686.760010,42.563728,58.439999,47.443909,30.713957,112.389999,16.160000
2017-12-01,131.824951,70.645653,154.001968,160.707199,36.978416,91.414032,61.982708,14.11,202.213013,120.931908,...,60.210094,122.361076,59.022598,678.400024,43.030697,57.980000,47.523033,31.249493,111.669998,16.200001
2017-12-04,129.031845,71.759903,153.643585,161.462799,36.630409,90.837601,63.045551,14.30,207.990540,124.962639,...,59.836422,121.902344,62.047623,709.770020,45.464897,58.790001,49.600002,31.547012,112.209999,16.540001